# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js

# Yarn Integrity file
.yarn-integrity

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Dist directory
dist

# Reflect files
.reflect
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
