name: Sync staging environments

on:
  push:
    branches:
      - main

jobs:
  sync-main-to-stage-live:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Open/update a PR from `main` to `stage-live`
        id: pull
        uses: tretuna/sync-branches@1.4.0
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          FROM_BRANCH: "main"
          TO_BRANCH: "stage-live"
          PULL_REQUEST_TITLE: "Update stage environments"
          PULL_REQUEST_BODY: "This is an automated pull request that will update stage environments with recent `main` changes."
          REVIEWERS: '["andreachapman"]'